{% macro human_duration(duration) -%}
    {% set hours=duration//3600 %}
    {% set minutes=duration//60 - (hours*60) %}
    {% set seconds=duration%60 %}
    {% if hours > 0 %}
        {{ hours|int }}h
    {% endif %}
    {{ minutes|int }}m {{ seconds|int }}s
{%- endmacro %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>{{ book.getTitle() }} by {{ book.getAuthor() }}</title>
    <link onload="this.media='all'" rel="stylesheet"
          href="css/bootstrap.min.css">
    <link id="favicon" rel="shortcut icon" type="image/jpeg"
          href="{{ media_path }}/{{ book.getID()|urlencode }}/cover.avif"/>
    <style media="screen">
        #chapter-list .chapter {
            cursor: pointer;
        }

        #player-seek {
            cursor: pointer;
        }

        .chapter-name.hidden {
            font-style: italic;
        }
    </style>
    <script src="js/app.js"></script>
    <script>
        window.onload = function () {
            let player = new Player("{{ book.getID() }}");
            player.init();
        };
    </script>
</head>
<body>
<div class="book container-fluid">
    <!-- Header -->
    <div class="row">
        <div class="col text-white bg-dark">
            <h1><a href=".">Books</a> &mdash; <span id="book-title">{{ book.getTitle() }}</span>, <small>by</small>
                <span id="book-author">{{ book.getAuthor() }}</span></h1>
        </div>
    </div>
    <!-- Controls -->
    <div class="row mt-4">
        <div class="col-md-6">
            <audio id="player">
                <source src="{{ media_path }}/{{ book.getID()|urlencode }}/{{ book.getParts()[0].getChapters()[0].getFilename() }}"
                        type="audio/ogg">
                Your browser does not support the audio element.
            </audio>
            <div id="player-controls">
                <h2>Controls</h2>
                <div class="mt-2 row">
                    <div class="col-2">
                        <label>Playback Control</label>
                    </div>
                    <div class="col-10">
                        <button class="btn btn-lg btn-info col-2" data-step="-60">⏪︎<br/><small>60s</small></button>
                        <button class="btn btn-lg btn-info col-2" data-step="-10">⏪︎<br/><small>10s</small></button>
                        <button class="btn btn-lg btn-primary col-3" id="toggle-play-pause"><span class="icon">⏵︎</span><br/><small
                                class="label">Play</small></button>
                        <button class="btn btn-lg btn-info col-2" data-step="10">⏩︎<br/><small>10s</small></button>
                        <button class="btn btn-lg btn-info col-2" data-step="60">⏩︎<br/><small>60s</small></button>
                    </div>
                </div>
                <div class="mt-2 row">
                    <div class="col-2">
                        <label>Chapter Progress</label>
                    </div>
                    <div class="col-10">
                        <strong><span id="player-position">0</span></strong> of <strong><span
                            id="player-duration">0</span></strong>
                        <progress class="w-100" id="player-seek" value="0" max="100"></progress>
                    </div>
                </div>
            </div>
            <hr/>
            <!-- Settings -->
            <div class="mt-2 row">
                <div class="col-2">
                    <label>Playback rate</label>
                </div>
                <div class="col-10 btn-group" role="group">
                    <button class="btn btn-secondary active" data-playbackrate="1">Normal</button>
                    <button class="btn btn-secondary" data-playbackrate="1.2">Fast</button>
                    <button class="btn btn-secondary" data-playbackrate="1.5">Very fast</button>
                    <button class="btn btn-secondary" data-playbackrate="2">Too fast</button>
                </div>
            </div>
            <div class="mt-2 row">
                <div class="col-4">
                    <label>Hide future chapter names</label>
                </div>
                <div class="col-8 btn-group" role="group">
                    <button class="btn btn-secondary active" data-hide-future-chapters="0">Show</button>
                    <button class="btn btn-secondary" data-hide-future-chapters="1">Hide</button>
                </div>
            </div>
            <hr/>
            <!-- Cover Image -->
            <div class="mt-2 row">
                <div class="col-2"></div>
                <div class="col-10">
                    <img id="book-cover" class="img-fluid border border-info rounded" alt="Cover image" loading="lazy"
                         src="{{ media_path }}/{{ book.getID()|urlencode }}/cover.avif"/>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h2>Table of Contents</h2>
            <table class="table table-hover">
                <tbody>
                {# Hack: https://stackoverflow.com/questions/7537439/how-to-increment-a-variable-on-a-for-loop-in-jinja-template/32700975#32700975 #}
                {% set cnt = [0] %}
                {% for part in book.getParts() %}
                    <tr class="table-secondary">
                        <td colspan="2">{{ part.getName() }}</td>
                    </tr>
                    {% for chapter in part.getChapters() %}
                        <tr class="chapter"
                            data-source="{{ media_path }}/{{ book.getID()|urlencode }}/{{ chapter.getFilename() }}"
                            data-duration="{{ chapter.getDuration()|round(method='floor')|int }}"
                            data-chapter-index="{{ cnt[0] }}" data-chapter-name="{{ chapter.getName() }}">
                            <td>{{ cnt[0]+1 }} &mdash; <span class="chapter-name">{{ chapter.getName() }}</span></td>
                            <td><span class="chapter-duration">{{ human_duration(chapter.getDuration()) }}</span></td>
                        </tr>
                        {% if cnt.append(cnt.pop() + 1) %}{% endif %}
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
